<button type="button" class="on-top" aria-label="맨 위로 스크롤" tabindex="-1"><i><img src="/assets/images/ico/arrow_step_on.svg" /></i><span>TOP</span></button>
<footer id="footer" class="footer">
    <nav class="footer-01">
        <ul>
            <li><a href="/term/term01.html">서비스 이용약관</a></li>
            <li><a href="/term/term04.html"><strong>개인정보 처리방침</strong></a></li>
            <li><a href="/term/term02.html">개인정보 수집/이용에 관한 약관</a></li>
            <li><a href="/term/term03.html">개인정보처리 및 위탁에 관한 안내 약관</a></li>
        </ul>
    </nav>
    <div class="footer-02">
        <ul>
            <li class="footer-02-01"><a href="https://alcard.kr" target="_blank"><img src="../assets/images/logo_chungnam.svg" alt="알뜰교통카드 로고" /></a></li>
        </ul>
    </div>
    <div class="footer-03">
        <div class="footer-03-01">
            <dl>
                <dt aria-label="우편번호">(우)</dt>
                <dd>32255</dd>
                <dt class="sr-only">주소</dt>
                <dd>충청남도 홍성군 홍북읍 충남대로 21 충청남도청</dd>
            </dl>
            <p>copyright (C) 2022 THE PROVINCE OF CHUNGCHUNGNAM-DO. All Rights Reserved.</p>
        </div>
        <div class="footer-03-02">
            <article>
                <h4>알뜰교통카드 문의</h4>
                <dl>
                    <div class="footer-03-02-01">
                        <dt class="sr-only">문의전화</dt>
                        <dd><a href="tel:031-427-4415">031-427-4415</a></dd>
                    </div>
                    <div class="footer-03-02-02">
                        <dt>운영시간</dt>
                        <dd>
                            <dl>
                                <dt>평일</dt>
                                <dd>
                                    <dl class="footer-03-02-02-01">
                                        <dt class="sr-only">운영시작</dt>
                                        <dd>9시</dd>
                                        <dt class="sr-only">운영끝</dt>
                                        <dd>18시</dd>
                                    </dl>
                                </dd>
                            </dl>
                        </dd>
                    </div>
                    <div class="footer-03-02-03">
                        <dt>점심시간</dt>
                        <dd>
                            <dl class="footer-03-02-03-01">
                                <dt class="sr-only">점심시작</dt>
                                <dd>12시</dd>
                                <dt class="sr-only">점심끝</dt>
                                <dd>13시</dd>
                            </dl>
                        </dd>
                        <dt>주말, 공휴일</dt>
                        <dd>제외</dd>
                    </div>
                </dl>
            </article>
            <article>
                <h4>캐시비 문의</h4>
                <dl>
                    <div class="footer-03-02-01">
                        <dt class="sr-only">문의전화</dt>
                        <dd><a href="tel:1644-0006">1644-0006</a></dd>
                    </div>
                    <div class="footer-03-02-02">
                        <dt>운영시간</dt>
                        <dd>
                            <dl>
                                <dt>평일</dt>
                                <dd>
                                    <dl class="footer-03-02-02-01">
                                        <dt class="sr-only">운영시작</dt>
                                        <dd>9시</dd>
                                        <dt class="sr-only">운영끝</dt>
                                        <dd>18시</dd>
                                    </dl>
                                </dd>
                            </dl>
                        </dd>
                    </div>
                    <div class="footer-03-02-03">
                        <dt>주말, 공휴일</dt>
                        <dd>제외</dd>
                    </div>
                </dl>
            </article>
        </div>
    </div>
</footer>
