<a class="content-shortcut" href="#content">본문 바로가기</a>
<header id="header">
    <h1>
        <a href="/index.html" title="알뜰교통카드 바로가기">
            <img src="/assets/images/logo_header.svg" alt="알뜰교통카드 로고" />
        </a>
    </h1>
    <div class="gnb-wrap">
        <nav id="gnb">
            <ul class="depth1">
                <li>
                    <a href="/intro/intro.html">충남형 알뜰교통카드 소개</a>
                    <ul class="depth2" data-title="충남형 알뜰교통카드 소개">
                        <li><a href="/intro/intro.html">사업안내</a></li>
                        <li><a href="/intro/guide.html">이용안내</a></li>
                        <li><a href="/intro/bus.html">버스안내</a></li>
                    </ul>
                </li>
                <!-- 카드신청 삭제 220209 -->
                <!-- <li>
                    <a href="#">카드신청</a>
                    <ul class="depth2" data-title="카드신청">
                        <li><a href="#">캐시비 카드 신청</a></li>
                    </ul>
                </li> -->
                <li>
                    <a href="/customer/board.html">고객지원</a>
                    <ul class="depth2" data-title="고객지원">
                        <li><a href="/customer/board.html">공지사항</a></li>
                        <li><a href="/customer/faq.html">자주 묻는 질문</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="#" class="disabled" tabindex="-1">회원</a>
                    <ul class="depth2" data-title="회원">
                        <li><a href="/member/login.html" tabindex="-1">로그인</a></li>
                        <li><a href="/member/findId.html" tabindex="-1">아이디찾기</a></li>
                        <li><a href="/member/findPassword.html" tabindex="-1">비밀번호찾기</a></li>
                        <li><a href="/term/term01.html" tabindex="-1">서비스 이용약관</a></li>
                        <li><a href="/term/term04.html" tabindex="-1">개인정보 처리방침</a></li>
                        <li><a href="/term/term02.html" tabindex="-1">개인정보 수집/이용에 관한 약관</a></li>
                        <li><a href="/term/term03.html" tabindex="-1">개인정보 처리 및 위탁에 관한 안내 약관</a></li>
                    </ul>
                </li> -->
                <li><a href="/intro/certifiedCopyGuide.html">등본 발급방법</a></li>
                <li>
                    <a href="/card/card01.html">카드 재발급</a>
                    <ul class="depth2" data-title="카드 재발급">
                        <li><a href="/card/card01.html">재발급 신청</a></li>
                        <li><a href="/card/card04.html">재발급 신청 내역</a></li>
                    </ul>
                </li>
                <li class="rtl">
                    <a href="#" tabindex="-1">마이페이지</a>
                    <ul class="depth2" data-title="마이페이지">
                        <li><a href="/mypage/history.html" tabindex="-1">교통이용내역</a></li>
                        <li><a href="/mypage/history2.html" tabindex="-1">지원금내역</a></li>
                        <li><a href="/mypage/editUserInfo.html" tabindex="-1">내 정보</a></li>
                        <li><a href="/mypage/certifiedCopy.html" tabindex="-1">주민등록등본 등록</a></li>
                        <!-- <li><a href="#" tabindex="-1">대중교통 이용내역</a></li> -->
                        <li><a href="/mypage/qnaList.html" tabindex="-1">1:1 문의</a></li>
                        <li><a href="/member/withdrawal01.html" tabindex="-1">회원 탈퇴</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header-util">
            <ul class="header-util__nav">
                <!-- 로그오프 시작 -->
                <li><a href="/member/login.html" class="active">로그인</a></li>
                <li><a href="/join/join01.html">회원가입</a></li>
                <!-- 로그오프 끝-->
                <!-- 로그인 시작 -->
                <!-- <li><a href="#">마이페이지</a></li>
                <li><a href="#">로그아웃</a></li> -->
                <!-- 로그인 끝 -->
            </ul>
        </div>
    </div>
    <button type="button" class="js-header-sitemap">
        <i></i>
        <i></i>
        <i></i>
        <span>사이트맵 보기</span>
    </button>
</header>