<head><script defer src=".././assets/js/pub.min.js"></script></head><article class="layer-popup" id="layerPopup03" role="document" aria-hidden="false" tabindex="0" aria-labelledby="layerPopup03Label">
    <div class="layer-popup-content">
        <header class="layer-popup-header">
            <h3 id="layerPopup03Label">주소 검증 결과 안내</h3>
            <button type="button" class="close" data-dismiss="layerPopup" aria-label="close" tabindex="0">
                <span>닫기</span>
            </button>
        </header>
        <section class="layer-popup-body" tabindex="0">
            <h4>주소 검증 결과 안내</h4>
            <dl class="layer-popup-02-01">
                <div>
                    <dt>주민등록상 주소가 정상적으로 확인되지 않았습니다.</dt>
                    <dd>
                        - 사유: <strong>(관리자 시스템에 등록한 메모 내용)</strong>
                    </dd>
                </div>
            </dl>
        </section>
    </div>
</article>
