<head><script defer src=".././assets/js/pub.min.js"></script></head><article class="layer-popup--large" id="layerPopup01" role="document" aria-hidden="false" tabindex="0" aria-labelledby="layerPopup01Label">
    <div class="layer-popup-content">
        <header class="layer-popup-header">
            <h3 id="layerPopup01Label">충남형 알뜰교통카드 홈페이지 이용 안내</h3>
        </header>
        <section class="layer-popup-body" tabindex="0">
            <h4>충남형 알뜰교통카드 홈페이지 이용안내</h4>
            <p>본 홈페이지는 <strong>엣지(Microsoft Edge) 및 크롬 브라우저에 최적화</strong> 되어 있으니, <br />해당 브라우저에서 이용해주세요.<br /><br /><strong class="strong">마이크로소프트의 인터넷 익스플로러는 2022년 6월 15일 지원이 중지 됩니다.<br />더 이상의 보안 업데이트가 이루어지지 않아 해킹 등의 위협에 쉽게 노출되며 업데이트 미지원으로 홈페이지 등의 이용시 오류 등이 발생할 수 있으므로 이용에 불편함이 없도록 구글 크롬 브라우저 등을 이용하여 주시기 바랍니다. <br /><br /></strong></p>
            <a class="btn" href="https://blogs.windows.com/wp-content/uploads/prod/sites/2/2021/05/Microsoft-Edge_Korean-Blog-and-FAQ-1.pdf" target="_blank">익스플로러 지원 종료 안내 참조</a> <br />
            <a class="btn--download" href="https://www.google.com/intl/ko/chrome/" target="_blank">브라우저 다운로드 받기</a>
        </section>
    </div>
</article>