<head><script defer src=".././assets/js/pub.min.js"></script></head><article class="layer-popup" id="layerPopup03" role="document" aria-hidden="false" tabindex="0" aria-labelledby="layerPopup03Label">
    <div class="layer-popup-content">
        <header class="layer-popup-header">
            <h3 id="layerPopup03Label">카드 수령시점 및 이용 안내</h3>
            <button type="button" class="close" data-dismiss="layerPopup" aria-label="close" tabindex="0">
                <span>닫기</span>
            </button>
        </header>
        <section class="layer-popup-body" tabindex="0">
            <!-- <h4>카드 수령시점 및 이용 안내</h4> -->
            <p class="layer-popup-03-01"><strong class="strong">가장 자주 하시는 문의에 대해 “공지사항 및 자주 묻는 질문”으로 상시 안내되고 있으니, 꼭 확인해주세요.</strong></p>
            <div class="layer-popup-03-02">
                <a href="/customer/board.html">공지사항 보기</a>
                <a href="/customer/faq.html">자주 묻는 질문 보기</a>
            </div>
            <ul class="layer-popup-03-03">
                <li>
                    <h5>카드 수령 일정</h5>
                    <ol>
                        <li><strong>1. 초등학생 : 재학중인 학교에서 4월 중으로 수령</strong> <br />수령장소 변경으로 인해, 배송이 지연된 점 양해 부탁드립니다. <br />순차적으로 배송 진행하고 있습니다. <strong class="strong">배송완료시 배포되오니 기다려주세요.</strong></li>
                        <li><strong>2. 전입(예정)자, 유치원생, 만 18세 이하 대학생, 학교 밖 청소년 등 : 홈페이지 회원정보의 주소로 배송 예정</strong><br /><strong></strong class="strong">※ 배송 일정 미정</strong><br /><strong class="strong">※ 천안시청 및 아산시청 직접 방문하여 수령 가능합니다. (방문 전 잔여수량 여부 직접 문의 필요, 시청 1층 안내데스크에 수령장소 문의)</strong></li>
                        <li>3. 중ㆍ고교생 : 재학중인 학교에서 3월중 배포 완료</li>
                    </ol>
                </li>
                <li>
                    <h5>카드 재발급</h5>
                    <p>학교에서 수령 후 분실한 경우, 학교에 잔여수량여부를 문의해주세요.<br />카드 재발급 가능하나, 카드추가제작이 필요한 관계로 일정 기간 소요됩니다. <br />공지사항으로 재발급 신청시점 안내될 예정이니, 수시로 공지사항을 확인하시기 바랍니다. <br /><strong class="strong">※ 재발급 서비스 일정 미정</strong><br /><strong class="strong">※ 천안시청 및 아산시청 직접 방문하여 무료로 수령 가능합니다. (방문 전 잔여수량 여부 직접 문의 필요, 시청 1층 안내데스크에 수령장소 문의)</strong></p>
                </li>
                <li>
                    <h5>이용안내</h5>
                    <p>홈페이지 회원가입한 휴대번호에 “충남알뜰교통카드“ 앱 설치 <br />▶ 앱에 카드 등록 (홈페이지 회원에 등록한 자녀수만큼 등록 가능) <br />▶ 최초 사용금액 회원이 충전 <br />▶ 5월 1주차 앱 업데이트 예정 (앱 업데이트해야 “선물함”이 생깁니다.) <br />▶ 5월 10일 앱으로 4월 사용금액이 환급 <strong class="strong">(주민등록상 충남 거주 확인자에 한해 지급)</strong><br /><strong class="strong">※ 이번 달 사용금액이 다음달 지급됩니다.</strong></p>
                </li>
            </ul>
            <!-- <p>감사합니다.</p> -->
        </section>
    </div>
</article>
