<head><script defer src=".././assets/js/pub.min.js"></script></head><article class="layer-popup" id="layerPopup02" role="document" aria-hidden="false" tabindex="0" aria-labelledby="layerPopup02Label">
    <div class="layer-popup-content">
        <header class="layer-popup-header">
            <h3 id="layerPopup02Label">안내</h3>
            <button type="button" class="close" data-dismiss="layerPopup" aria-label="close" tabindex="0">
                <span>닫기</span>
            </button>
        </header>
        <section class="layer-popup-body" tabindex="0">
            <h4>안내</h4>
            <dl class="layer-popup-02-01">
                <div>
                    <dt>대상자</dt>
                    <dd>
                        <p>정부24 홈페이지에서 다운로드한 주민등록등본<strong>(PDF 파일)</strong> 또는 <br class="from" />외국인등록 사실증명서(PDF 파일, 가족사항에 자녀 출력 필수)를 등록한 회원</p>
                        <table class="layer-popup-02-02-01">
    <!-- <tr>
        <th>주민등록등본<strong>(PDF 파일)</strong>을 3월 31일까지 등록 <br />+ <br />주소가 정상적으로 확인되지 않았다는 결과를 받은 회원</th>
        <td><strong class="strong">4월 5일부터</strong> “마이페이지 > 주민등록등본 등록” 페이지에서 결과 확인</td>
    </tr>
    <tr>
        <th>주민등록등본<strong>(PDF 파일)</strong>을 4월 1일 이후 등록한 회원</th>
        <td>주민등록등본 <strong class="strong">등록일로부터 3일 후</strong>, “마이페이지 > 주민등록등본 등록” 페이지에서 결과 확인</td>
    </tr> -->
    <thead>
        <tr>
            <th scope="col">서류(PDF 등록일)</th>
            <th scope="col">확인한 메시지</th>
            <th scope="col">주소 검증 결과</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="2">2022-03-01 ~ 2022-03-25</th>
            <td>주민등록상 주소가 정상적으로 확인되었습니다.</td>
            <td>주소검증 성공되었습니다. <br class="from" />이용안내 참고하셔서 이용해주세요.</td>
        </tr>
        <tr>
            <td>주민등록상 주소가 정상적으로 확인되지 않았습니다.</td>
            <td>4월 1일 홈페이지 로그인 후 결과 확인해주세요.</td>
        </tr>
        <tr>
            <th scope="row">2022-03-26 ~</th>
            <td>해당 없음</td>
            <td>서류 등록일로부터 7일 후 홈페이지 로그인 후 결과 확인해주세요.</td>
        </tr>
    </tbody>
</table>
                    </dd>
                </div>
                <div>
                    <dt>검증 결과 확인 방법</dt>
                    <dd>
                        <strong class="strong">주소 검증 실패된 경우에만 '주소 검증 결과 안내 팝업'이 제시됩니다.</strong>
                    </dd>
                </div>
            </dl>
            <p>감사합니다.</p>
        </section>
    </div>
</article>
